.cardColection {
  width: 100%;
  height: 20rem;
  background-color: black;
  color: aqua;

  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}
