@use "./../../../sass" as *;
.mainContainer {
  position: relative;
  min-height: calc(100vh - $height-nav);
  margin-top: $height-nav;
  .bannerContainer {
    min-height: 70vh;
  }
  .genderContainer {
    margin-top: 5rem;
  }
  .mySwiper {
    width: 90%;
    margin: 0 auto;
  }
}
