@use "./../../../sass" as *;
.genDerList {
  margin: 7rem 2rem 0 2rem;
  min-height: 80vh !important;
  .containerListGenderImg {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .cardConatiner {
      height: 23vh;
      .cardImg {
        width: 100%;
      }
    }
  }
  p {
    width: 100%;
    font-size: 3rem;
    padding: 1rem;
  }
  .boxChangePage {
    width: 100%;
    display: flex;
    margin: 3rem auto;
    justify-content: center;
    align-items: center;
    svg {
      width: 3rem;
      height: 3rem;

      fill: $main_color;
      cursor: pointer;
    }
  }
}
