@use "./../../sass" as *;
.anime.mainContainer {
  display: flex;
  .anime_descriptions {
    padding: 3rem 2rem;
  }
  .animeContainer {
    width: 40%;
    flex-shrink: 0;
    height: calc(100vh - $height-nav);
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 0.3s;
      &:hover {
        filter: blur(1px);
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    button:hover ~ img {
      filter: blur(1px);
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
