@use "./../../../sass" as *;

.mainContainerAnime,
.anime {
  display: flex;
  position: relative;
  min-height: calc(100vh - $height-nav);
  margin-top: 7rem;
  height: calc(100vh - $height-nav);
  .animerBanner {
    border-radius: 100rem;
    box-shadow: 0 0 2px rgb(146, 142, 142);
    padding-top: 1rem;
    margin: 2rem auto;
    width: 90%;
    height: 100%;
  }
  div.animeLi {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    .animeContainer {
      overflow: hidden;
      // box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
      grid-column: 2 / 4;
      grid-row: 2 / 6;
      position: relative;
      overflow: hidden;
      &:hover button {
        opacity: 1;
      }
      &:hover img {
        transform: scale(1.05);
      }
      button {
        @include centerItem();
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s;
        &:hover {
          cursor: pointer;
        }
      }

      button:hover ~ img {
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    .animateButtom {
      width: 8rem;
      height: 8rem;
      border-radius: 100rem;
      position: absolute;
      color: white;
      box-shadow: 0 0 10px black;
      background-color: black;
      z-index: 9;
      display: block;
      // bottom: 10%;
      top: 50%;
      right: 0%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 5px black;
      }
    }
    .anime_descContainer {
      font-family: "Courier New", Courier, monospace;
      padding: 0 3rem;
      grid-column: 4 / 10;
      grid-row: 2 / 4;

      font-size: 1.7rem;
      line-height: 1.2;
      display: flex;
      flex-direction: column;
      .anime_titles {
        font-weight: 900;
        font-size: 3rem;
        padding-bottom: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .anime_des {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .animeAudioContai {
      grid-column: 8 / 10;
      grid-row: 3 / 6;

      margin: 0 2rem;
      height: 75%;
      margin-top: auto;
      font-size: 1.4rem;

      // position: relative;
      .songdes {
        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: black;
        color: white;
        padding: 1.5rem;
        gap: 0.5rem;
        box-shadow: 0 0 3px white;
        border-radius: 3rem;
        transition: all 0.5s;
        white-space: nowrap;
        overflow: hidden;
        .songAlbum {
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }

      svg {
        cursor: pointer;
        font-size: 5rem;
        align-self: center;
      }
    }
    .animeInfor {
      grid-row: 4/6;
      grid-column: 4/8;
      background-color: #edf1f5;
      padding: 1rem 2rem;
      margin: 0 3rem;
      font-family: "Courier New", Courier, monospace;
      font-size: 1.6rem;
      border-radius: 5px;
      word-spacing: 1px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      transition: all 1s;
      opacity: 0;
      visibility: hidden;

      ul {
        display: flex;
        gap: 0.7rem;
        flex-direction: column;
        li {
          word-spacing: 1px;
        }
      }
      &:hover {
        box-shadow: 0 0 0 1px black;
      }

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 1px;
        background-color: white;

        transition: all 1s;
        z-index: -9999;
        border-radius: 50%;
        bottom: 0;
        right: 0;
        top: auto;
        left: auto;
      }
      &:hover::after {
        transform: scale(1050);
        top: 0;
        left: 0;
        bottom: auto;
        right: auto;
      }
    }
    .animeFavoButton {
      transition: all 0.3s;
      padding: 0.5rem;
      margin-top: auto !important;
      margin-bottom: 1rem;
      display: inline-block;
      width: fit-content;
      &:hover {
        background-color: white;
        box-shadow: 0 0 15px 0 rgba(33, 33, 33, 0.2);
      }
    }
  }

  .bye {
    font-family: "Courier New", Courier, monospace;
    font-size: 10rem;
    opacity: 0;
    text-align: center;
    z-index: -1;
    @include centerItem();
  }
}
