.titleGender {
  font-family: "Courier New", Courier, monospace;
  border: none;

  height: 7rem;
  padding: 1rem;
  // background-color: blue;
  display: flex;
  align-items: center;

  font-size: 3rem;
  background-color: transparent;

  span {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  svg {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
}
