.titleGender {
  font-family: "Courier New", Courier, monospace;
  border: none;

  height: 7rem;
  padding: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
}
