@use "./../../sass" as *;
footer.footer {
  margin-top: 7rem;
  padding: 2rem;
  background-color: $main_color;
  display: flex;
  min-width: 100vw;
  justify-content: space-around;
  align-items: flex-start;
  background-image: linear-gradient(to top right, $main_color, white);
  color: black !important;
  font-size: 1.7rem;
  @include reponsive($bp-small) {
    & {
      margin-top: 1rem;
    }
  }
  ul {
    list-style: none;
    li:not(:first-child) {
      font-size: 1.5rem;
      padding-top: 0.3rem;
    }
    li:first-child {
      font-size: 2.5rem;
      padding-bottom: 1rem;
    }
  }
}
